body {
    font-family: 'Roboto Condensed', sans-serif;

}
.details-body{
    background: #f5f5f5;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
}
.image-container{


}