{% extends 'base_app.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}sell{% endblock %}
{% block body %}
    {% include 'breadcrump.html' %}
    <div class="container animate-bottom">
        <div class="row">
            <div class=" col-6 offset-3 mt-4 pt-4 mb-5">
                <form method="post" enctype="multipart/form-data" novalidate>
                    <div class="mb-4">
                        <h2 class="text-center">Post an Article</h2>
                    </div>
                    <div class="form-row">
                        {% csrf_token %}
                        {{ form.non_field_errors }}
                        {{ image_form.non_field_errors }}
                        {% for hidden_field in form.hidden_fields %}
                            {{ hidden_field.errors }}
                        {% endfor %}
                        {% for hidden_field in image_form.hidden_fields %}
                            {{ hidden_field.errors }}
                        {% endfor %}
                        {% if form.non_field_errors %}
                            <div class="alert alert-danger" role="alert">
                                {% for error in form.non_field_errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        {% endif %}
                        {% if image_form.non_field_errors %}
                            <div class="alert alert-danger" role="alert">
                                {% for error in image_form.non_field_errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        {% endif %}
                        {% for field in form.visible_fields %}
                            <div class="col-12">
                                <div class="form-group">
                                    {{ field.label_tag }}
                                    {% if form.is_bound %}
                                        {% if field.errors %}
                                            {% render_field field class='form-control  is-invalid' %}
                                            {% for error in field.errors %}
                                                <div class="invalid-feedback">
                                                    {{ error }}
                                                </div>
                                            {% endfor %}
                                        {% else %}
                                            {% render_field field class='form-control is-valid' %}
                                        {% endif %}
                                    {% else %}
                                        {% render_field field class='form-control' %}
                                    {% endif %}
                                    {% if field.help_text %}
                                        <small class="form-text text-muted ">{{ field.help_text }}</small>
                                    {% endif %}

                                </div>
                            </div>
                        {% endfor %}
                        {% for field in image_form.visible_fields %}
                            <div class="col-12">
                                <div class="custom-file">
                                    {% if form.is_bound %}
                                        {% if field.errors %}
                                            {% render_field field class='custom-file-input ' %}
                                            <label class="custom-file-label is-invalid">Choose file</label>
                                            {% for error in field.errors %}
                                                <div class="invalid-feedback">
                                                    {{ error }}
                                                </div>
                                            {% endfor %}
                                        {% else %}
                                            {% render_field field class='custom-file-input' %}
                                            <label class="custom-file-labe is-invalidl">Choose file</label>
                                        {% endif %}
                                    {% else %}
                                        {% render_field field class='custom-file-input' %}
                                        <label class="custom-file-label">Choose file</label>
                                    {% endif %}
                                    {% if field.help_text %}
                                        <small class="form-text text-muted ">{{ field.help_text }}</small>
                                    {% endif %}

                                </div>
                            </div>
                        {% endfor %}
                    </div>
                        <div class=" pt-5">
                            <button class="btn btn-success" type="submit" style="width: 100%">Post</button>
                        </div>
                </form>
            </div>
        </div>
    </div>
    {% include 'footer.html' %}

{% endblock %}
{% block script %}
    <script>
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);

        });
    </script>
{% endblock %}