{% extends 'base.html' %}
{% load static %}
{% block title %}Blog{% endblock %}
{% block body %}
             <!--Inner Header Start-->
         <section class="wf100 p100 inner-header">
            <div class="container">
               <h1>Blog</h1>
               <ul>
                  <li><a href="{% url 'service:index' %}">Home</a></li>
                  <li><a href="#"> Blogs </a></li>
               </ul>
            </div>
         </section>
         <!--Inner Header End-->
         <!--Blog Start-->
         <section class="wf100 p80 blog">
            <div class="blog-large">
               <div class="container">
                  <div class="row">
                     <!--Blog Small Post Start-->
                     <div class="col-md-6 col-sm-6">
                        <div class="blog-post">
                           <div class="blog-thumb"> <a href="#"><i class="fas fa-link"></i></a> <img src="{% static 'images/blog/b1.jpg' %}" alt=""> </div>
                           <div class="post-txt">
                              <ul class="post-meta">
                                 <li> <a href="#"><i class="fas fa-calendar-alt"></i> 29 September, 2018</a> </li>
                                 <li> <a href="#"><i class="fas fa-comments"></i> 134 Comments</a> </li>
                              </ul>
                              <h5><a href="#">Farming our lands for a better future</a></h5>
                           </div>
                        </div>
                     </div>
                     <!--Blog Small Post End-->
                     <!--Blog Small Post Start-->
                     <div class="col-md-6 col-sm-6">
                        <div class="blog-post">
                           <div class="blog-thumb"> <a href="{% url 'service:articles_det' %}"><i class="fas fa-link"></i></a> <img src="{% static 'images/blog/b2.jpg' %}" alt=""> </div>
                           <div class="post-txt">
                              <ul class="post-meta">
                                 <li> <a href="{% url 'service:articles_det' %}"><i class="fas fa-calendar-alt"></i> 29 September, 2018</a> </li>
                                 <li> <a href="{% url 'service:articles_det' %}"><i class="fas fa-comments"></i> 134 Comments</a> </li>
                              </ul>
                              <h5><a href="#">How you can easily market your poultry</a></h5>
                           </div>
                        </div>
                     </div>
                     <!--Blog Small Post End-->
                     <!--Blog Small Post Start-->
                     <div class="col-md-6 col-sm-6">
                        <div class="blog-post">
                           <div class="blog-thumb"> <a href="{% url 'service:articles_det' %}"><i class="fas fa-link"></i></a> <img src="{% static 'images/blog/b3.jpg' %}" alt=""> </div>
                           <div class="post-txt">
                              <ul class="post-meta">
                                 <li> <a href="#"><i class="fas fa-calendar-alt"></i> 29 September, 2018</a> </li>
                                 <li> <a href="#"><i class="fas fa-comments"></i> 134 Comments</a> </li>
                              </ul>
                              <h5><a href="#"> Effective green house investment</a></h5>
                           </div>
                        </div>
                     </div>
                     <!--Blog Small Post End-->
                     <!--Blog Small Post Start-->
                     <div class="col-md-6 col-sm-6">
                        <div class="blog-post">
                           <div class="blog-thumb"> <a href="{% url 'service:articles_det' %}"><i class="fas fa-link"></i></a> <img src="{% static 'images/blog/b4.jpg' %}" alt=""> </div>
                           <div class="post-txt">
                              <ul class="post-meta">
                                 <li> <a href="#"><i class="fas fa-calendar-alt"></i> 29 September, 2018</a> </li>
                                 <li> <a href="#"><i class="fas fa-comments"></i> 134 Comments</a> </li>
                              </ul>
                              <h5><a href="#">Dairy farming in Nakuru</a></h5>
                           </div>
                        </div>
                     </div>
                     <!--Blog Small Post End-->
                     <!--Blog Small Post Start-->
                     <div class="col-md-6 col-sm-6">
                        <div class="blog-post">
                           <div class="blog-thumb"> <a href="{% url 'service:articles_det' %}"><i class="fas fa-link"></i></a> <img src="{% static 'images/blog/b5.jpg' %}" alt=""> </div>
                           <div class="post-txt">
                              <ul class="post-meta">
                                 <li> <a href="#"><i class="fas fa-calendar-alt"></i> 29 September, 2018</a> </li>
                                 <li> <a href="#"><i class="fas fa-comments"></i> 134 Comments</a> </li>
                              </ul>
                              <h5><a href="#">Latest development from ministry of agriculture</a></h5>
                           </div>
                        </div>
                     </div>
                     <!--Blog Small Post End-->
                     <!--Blog Small Post Start-->
                     <div class="col-md-6 col-sm-6">
                        <div class="blog-post">
                           <div class="blog-thumb"> <a href="#"><i class="fas fa-link"></i></a> <img src="{% static 'images/blog/b6.jpg' %}" alt=""> </div>
                           <div class="post-txt">
                              <ul class="post-meta">
                                 <li> <a href="{% url 'service:articles_det' %}"><i class="fas fa-calendar-alt"></i> 29 September, 2018</a> </li>
                                 <li> <a href="{% url 'service:articles_det' %}"><i class="fas fa-comments"></i> 134 Comments</a> </li>
                              </ul>
                              <h5><a href="#">Advantages of POS Agrovet system</a></h5>
                           </div>
                        </div>
                     </div>
                     <!--Blog Small Post End-->
                     <!--Blog Small Post Start-->
                     <div class="col-md-6 col-sm-6">
                        <div class="blog-post">
                           <div class="blog-thumb"> <a href="#"><i class="fas fa-link"></i></a> <img src="{% static 'images/blog/b7.jpg' %}" alt=""> </div>
                           <div class="post-txt">
                              <ul class="post-meta">
                                 <li> <a href="{% url 'service:articles_det' %}"><i class="fas fa-calendar-alt"></i> 29 September, 2018</a> </li>
                                 <li> <a href="{% url 'service:articles_det' %}"><i class="fas fa-comments"></i> 134 Comments</a> </li>
                              </ul>
                              <h5><a href="#">Emerging farm management techniques</a></h5>
                           </div>
                        </div>
                     </div>
                     <!--Blog Small Post End-->
                     <!--Blog Small Post Start-->
                     <div class="col-md-6 col-sm-6">
                        <div class="blog-post">
                           <div class="blog-thumb"> <a href="{% url 'service:articles_det' %}"><i class="fas fa-link"></i></a> <img src="{% static 'images/blog/b8.jpg' %}" alt=""> </div>
                           <div class="post-txt">
                              <ul class="post-meta">
                                 <li> <a href="{% url 'service:articles_det' %}"><i class="fas fa-calendar-alt"></i> 29 September, 2018</a> </li>
                                 <li> <a href="{% url 'service:articles_det' %}"><i class="fas fa-comments"></i> 134 Comments</a> </li>
                              </ul>
                              <h5><a href="#">Cheaper ways to access unexplored markets</a></h5>
                           </div>
                        </div>
                     </div>
                     <!--Blog Small Post End-->
                  </div>
                  <div class="gt-pagination">
                     <nav>
                        <ul class="pagination">
                           <li class="page-item"> <a class="page-link" href="{% url 'service:articles_det' %}" aria-label="Previous"> <i class="fas fa-angle-left"></i> </a> </li>
                           <li class="page-item"><a class="page-link" href="{% url 'service:articles_det' %}">1</a></li>
                           <li class="page-item active"><a class="page-link" href="{% url 'service:articles_det' %}">2</a></li>
                           <li class="page-item"><a class="page-link" href="{% url 'service:articles_det' %}">3</a></li>
                           <li class="page-item"> <a class="page-link" href="{% url 'service:articles_det' %}" aria-label="Next"> <i class="fas fa-angle-right"></i> </a> </li>
                        </ul>
                     </nav>
                  </div>
               </div>
            </div>
         </section>
         <!--Blog End-->
{% endblock %}