{% extends 'base_app.html' %}
{% load static %}
{% block body %}
    <div class="container-fluid">
        <div class="row">
           <div class="col-lg-12">
               <div class="row">
                   <div class="col-lg-6 border">
                       {% for img in images %}
                           <div class="col-8 border">
                               <img src="{{ img.image.url }}" width="50" height="50">
                           </div>
                       {% endfor %}
                   </div>
               </div>
           </div>
        </div>
    </div>
{% endblock %}