{% extends 'base_app.html' %}
{% load static %}
{% block title %} home {% endblock %}
{% block body %}
    {% include 'breadcrump.html' %}
    <div class="container animate-bottom">
        <div class="col-6 offset-3 mt-5 pt-4 text-center">
            <div class=" text-center">
                <img src="{% static 'images/avatar.svg' %}" style="height: 120px">
            </div>
            <div class=" text-center">
                <h2>Welcome</h2>
                <h4><strong>{{ user.get_full_name }}</strong></h4>
            </div>

        </div>


    </div>
{#    <div class="row">#}
{#        <div class="col-lg-4 col-8 offset-lg-4 offset-2 mt-5 pt-5 pb-5">#}
{#            <div class="text-center">#}
{#                <img src="{% static 'images/avatar.svg' %}" style="height: 120px">#}
{#            </div>#}
{#            <div class="text-center">#}
{#                <h2>{{ user.full_name }}</h2>#}
{#            </div>#}
{#            <div class="client-progress client-profile pl-3 ml-5 pt-2">#}
{#                <span class="ps1">&nbsp;</span>#}
{#                <span class="ps2">PURCHASES:</span>#}
{#                <span class="ps3">0 POINTS</span>#}
{#            </div>#}
{#            <div class="client-progress client-profile2 pl-3 ml-5 pt-2">#}
{#                <span class="ps1">&nbsp;</span>#}
{#                <span class="ps2">SALES:</span>#}
{#                <span class="ps3">0 POINTS</span>#}
{#            </div>#}
{#            <div class="client-progress client-profile3 pl-3 ml-5 pt-2">#}
{#                <span class="ps1">&nbsp;</span>#}
{#                <span class="ps2">CONNECTIONS:</span>#}
{#                <span class="ps3">0 POINTS</span>#}
{#            </div>#}
{#            <div class="client-progress client-profile4 pl-3 ml-5 pt-2">#}
{#                <span class="ps1">&nbsp;</span>#}
{#                <span class="ps2">TOTAL:</span>#}
{#                <span class="ps3">0 POINTS</span>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
    {% include 'footer.html' %}
{% endblock %}