{% extends 'base_app.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}Market{% endblock %}
{% block body %}
    {% include 'breadcrump.html' %}
    <div class="container-fluid animate-bottom">
         <div class="row">
             <div class="col-lg-9 ">
                 <div class="col-11 mt-5 ml-lg-5 ml-2 pr-0">
                     <form method="get" action="{% url 'service:search' %}">
                         <div class="form-row">
                             <div class="form-group col-lg-8">
                                 <input type="text" placeholder="I am looking for..." class="form-control" name="product_name">
                             </div>
                             <div class="form-group col-lg-4">
                                 <button type="submit" class="btn btn-success w-100">Search</button>
                             </div>
                         </div>
                     </form>
                 </div>
                 <div class="col-11 mt-3 ml-lg-5 ml-2" >
                     <div class="row">
                         {% for product in products %}
                             <div class="col-lg-3 col-md-3 col-sm-12 col-6 mb-4 pr-0 ">
                                    <div class="my-card card h-100" >
                                        <div class="my-thumb">
                                            <a href="{% url 'service:product_details' product.pk%}">
                                                <i class="fas fa-link"></i>
                                            </a>
                                            <img class="card-img-top" src="{{product.image.url }}" alt="Product">
                                        </div>
                                            <div class="card-body">
                                                <a href="{% url 'service:product_details' product.pk %}">
                                                    <h5 class="card-title mb-4">{{ product.product_name }}</h5>
                                                    <h6 class="card-subtitle mb-3">Ksh {{ product.price }}</h6>
                                                </a>
                                                <p class="">
                                                    <span class="fa fa-star checked"></span>
                                                    <span class="fa fa-star checked"></span>
                                                    <span class="fa fa-star checked"></span>
                                                    <span class="fa fa-star"></span>
                                                    <span class="fa fa-star"></span>
                                                </p>
                                                <h6 class="card-subtitle mb-2 text-muted"><i class="fas fa-map-marker-alt"></i> {{ product.location }}</h6>
                                            </div>

                                    </div>
                             </div>
                         {% endfor %}
                     </div>
                 </div>
             </div>
             <div class="col-lg-3 mt-5">
                 <div class="categories ml-lg-auto ml-3 mr-lg-0 mr-5 " >
                     <div class="text-center mt-2">
                         <h5>Categories</h5>
                     </div>
                     <ul class="list-unstyled mt-4 text-center ">
                         <li><a href="" class="side-li font-weight-bold mb-2">AgroChemicals</a></li>
                         <hr/>
                         <li><a href="" class="side-li font-weight-bold mb-2">Animal Feeds</a></li>
                         <hr/>
                         <li><a href="" class="side-li font-weight-bold mb-2">Cash Crops</a></li>
                         <hr/>
                         <li><a href="" class="side-li font-weight-bold mb-2">Cereals</a></li>
                         <hr/>
                         <li><a href="" class="side-li font-weight-bold mb-2">Farm Equipment and Tools</a></li>
                         <hr/>
                         <li><a href="" class="side-li font-weight-bold mb-2">Livestock</a></li>
                         <hr/>
                         <li><a href="" class="side-li font-weight-bold mb-2">Hive Products</a></li>
                         <hr/>
                         <li><a href="" class="side-li font-weight-bold mb-2">Fruits</a></li>
                         <hr/>
                         <li><a href="" class="side-li font-weight-bold mb-2">Herbs</a></li>
                         <hr/>
                         <li><a href="" class="side-li font-weight-bold mb-2">Others</a></li>


                     </ul>
                 </div>

             </div>
         </div>
    </div>
    {% include 'footer.html' %}
{% endblock %}