{% extends 'base_app.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}sell{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class=" col-6 offset-3 mt-4 pt-4 mb-5">
                <form method="post"enctype="multipart/form-data" novalidate>
                    <div class="mb-4">
                        <h2 class="text-center">Sell Product</h2>
                    </div>
                    <div class="form-row">
                        {% csrf_token %}
                        {% for field in form.visible_fields %}
                            <div class="{% if field.name == 'image' or field.name == 'description' %} col-lg-12 {% else %}col-lg-6{% endif %}">
                                {% if field.name == 'image' %}
                                    <div class="custom-file">
                                {% else %}
                                    <div class="form-group">
                                {% endif %}
                                    {% if not field.name == 'image' %}
                                        <label class=" font-weight-bolder">{{ field.label }}</label>
                                    {% endif %}
                                    {% if form.is_bound %}
                                        {% if field.errors %}
                                            {% if field.name == 'image' %}
                                                {% render_field field class='custom-file-input is-invalid' %}
                                                <label for="id_image" class="custom-file-label">Upload image....</label>
                                            {% else %}
                                                {% render_field field class='form-control  is-invalid' %}
                                            {% endif %}
                                            {% for error in field.errors %}
                                                <p class="text-danger pt-2">{{ error }}</p>

                                            {% endfor %}
                                        {% else %}
                                            {% if field.name == 'image' %}

                                                   {% render_field field class='custom-file-input is-valid' style="" %}
                                                   <label for="id_image" class="custom-file-label">Upload image....</label>
                                                   <p class="text-success pt-3">Upload again</p>
                                            {% else %}
                                                {% render_field field class='form-control  is-valid' %}
                                            {% endif %}
                                        {% endif %}
                                    {% else %}
                                        {% if field.name == 'image' %}
                                            {% render_field field class="custom-file-input "  %}
                                            <label for="id_image" class="custom-file-label ">Upload image....</label>
                                        {% else %}
                                            {% render_field field class='form-control ' %}
                                        {% endif %}
                                    {% endif %}
                                    {% if field.help_text %}
                                        <small class="text-muted" style="">{{ field.help_text }}</small>
                                    {% endif %}

                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class=" pt-5">
                        <button class="btn btn-success" type="submit" style="width: 100%">Sell Product</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
    $(".custom-file-input").on("change", function () {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);

    });
    </script>
{% endblock %}